@media screen and (min-width: 375px) {
  .ContentCard{
    width: 90%;
    margin-top: 20rem;
  }
}
@media screen and (min-width: 1440px) {
  .ContentCard{
    width: 33%;
    margin-top: 16rem;
  }
}
body{
  background-color:  hsl(218, 23%, 16%);
}
.content-container{
  width: 100%;
  height: 100vh;
}
.ContentCard{
  background-color:  hsl(217, 19%, 24%);
  height: 20rem;
}
.CardHeader #adviceText{
  color: hsl(193, 38%, 86%);
}
.CardHeader #adviceId{
  color: hsl(150, 100%, 66%);
}
.AdviceGeneratorBtn #diceBtn{
  background-color: hsl(150, 100%, 66%);
  position: absolute;
  margin-left: -2.10rem;
  margin-top: -2rem;
}